<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Wishlist Planner</title>
  </head>
  <body>
    <%- include("partials/_navbar.ejs") %>

    <main>
      <h1>Travel Wishlist Planner</h1>

      <p>Create your travel wishlist, set priority/budget and track trips.</p>

      <a href="/sign-up">
        <button type="button">Get Started</button>
      </a>
    </main>
  </body>
</html>
