/* Reset / Base */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background: #f6f7fb;
  color: #111827;
}


a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}